<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>Login</title>
    <link href="/thinkphp5/public/static/bootstrap-4.4.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/thinkphp5/public/static/bootstrap-4.4.1-dist/css/style.css" rel="stylesheet">
    <link href="/thinkphp5/public/static/bootstrap-4.4.1-dist/css/style-responsive.css" rel="stylesheet">
    <link href="/thinkphp5/public/static/bootstrap-4.4.1-dist/fonts/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="login-body">
<div class="container">

    <form class="form-signin" action="{:url('insert')}" method="post">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">注册</h1>
            <img src="/thinkphp5/public/static/bootstrap-4.4.1-dist/images/1.png" alt="" width="200" height="130"/>
        </div>
        <div class="login-wrap">
            <p>请在下面输入您的个人信息</p>
            <input type="text" name ="name" autofocus="" placeholder="Full Name" class="form-control">
            <input type="text" name ="email" autofocus="" placeholder="Email" class="form-control">
            <div class="radios">
                <select name="sex"  class="form-control" >
                    <option value="0">男</option>
                    <option value="1">女</option>
                </select>
            </div>
            <p>请在下面输入您的帐户详细信息</p>
            <input type="text" autofocus="" name ="username" placeholder="User Name" class="form-control">
            <input type="password" name ="password" placeholder="Password" class="form-control">
            <!-- Re-type重新输入 -->
<!--            <input type="password" name ="password" placeholder="Re-type Password" class="form-control">-->
            <label class="checkbox">
                <input type="checkbox" value="agree this condition"> I agree to the Terms of Service and Privacy Policy
            </label>
            <button type="submit" class="btn btn-lg btn-login btn-block" style="width: 290px;">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                已经注册
                <a href="{:url('login_controller/index')}" class="">
                    Login
                </a>
            </div>

        </div>

    </form>
</div>



</body>
</html>
