<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>Dynamic Table</title>
  <link href="/thinkphp5/public/static/bootstrap-4.4.1-dist/css/style.css" rel="stylesheet">
  <link href="/thinkphp5/public/static/bootstrap-4.4.1-dist/css/style-responsive.css" rel="stylesheet">
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
        </div>

        <div class="logo-icon text-center">
            <a href="index.html"><img src="images/logo_icon.png" alt=""></a>
        </div>
        <!--logo and iconic logo end-->

        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li><a href="index.html"><i class="fa fa-home"></i> <span>记账管理系统</span></a></li>
                <li class="menu-list"><a href="{:url('Information_controller/index')}"><i class="fa fa-laptop"></i> <span>个人中心</span></a>
                </li>
                <li class="menu-list "><a href="{:url('record_controller/index')}"><i class="fa fa-th-list"></i> <span>支出管理</span></a></li>
                <li class="menu-list "><a href="{:url('earning_controller/index')}"><i class="fa fa-th-list"></i> <span>收入管理</span></a></li>
               
                <li class="menu-list "><a href="{:url('Income_controller/index')}"><i class="fa fa-th-list"></i> <span>收入类型管理</span></a>
                </li>
                <li class="menu-list "><a href="{:url('Expend_controller/index')}"><i class="fa fa-th-list"></i> <span>支出类型管理</span></a>
                </li>
                <li><a href="{:url('Login_controller/logout')}"><i class="fa fa-sign-in"></i> <span>Login Page</span></a></li>

            </ul>
            <!--sidebar nav end-->

        </div>
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section">

        <!--toggle button start-->
        <a class="toggle-btn"><i class="fa fa-bars"></i></a>
        <!--toggle button end-->

        <!--search start-->
        <form class="searchform" action="index.html" method="post">
            <input type="text" class="form-control" name="keyword" placeholder="Search here..." />
        </form>
        <!--search end-->
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">

        <div class="panel-body">
        <div class="adv-table">
        <table  class="display table table-bordered table-striped" id="dynamic-table">
        <thead>
            <tr>
                <th>编号</th>
                <th>收入人</th>
                <th>收入方式</th>
                <th>收入类别</th>
                <th>收入金额</th>
                <th class="hidden-phone">支付日期</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="gradeX">
                <td>1</td>
                <td>张三</td>
                <td>微信</td>
                <td>工资</td>
                <td>2000</td>
                <td class="center hidden-phone">2023-2-11</td>
                <td><a  class="btn btn-primary">编辑</a>&nbsp;&nbsp;
                <a class="btn btn-danger">删除</a></td>
            </tr>
        </tbody>
        </table>
        </div>
        </div>
        </section>
        </div>
        </div>
    
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2023&copy;  </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>


</body>
</html>
